html {overflow-y: scroll}
:root { --bgcolor: #fafafa; --fontcolor: #383a42; --linkcolor: blue; --visitedcolor: blue; --precolor: #fafafa; --prebgcolor: #383a42;}
body{width: 85%; max-width:800px;margin:40px auto;padding:0 10px;font:16px/1.5 "Libertinus Serif";color:var(--fontcolor); background: var(--bgcolor)}a:link{color: var(--linkcolor)}a:visited{color: var(--visitedcolor)}a:active{color: var(--visitedcolor)}h1,h2,h3{line-height:1.2}
p > code{color: var(--precolor); background: var(--prebgcolor); padding:2px}
code{color: var(--precolor); background: var(--prebgcolor); padding:2px}
pre{color: var(--precolor); background: var(--prebgcolor); padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
figcaption {color: #c6c7c7; font: 12px/1.5 "Libertinus Serif"; text-align: center;}
figure {margin: auto}
img {display: block; max-width: 100%; height: auto; margin: auto}

.title {
    font-family: "Libertinus Keyboard";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Libertinus Sans";
}

a:hover {
    text-decoration-thickness: 2px;
}

a.selected {
    text-decoration: none;
    font-weight: bold;
}

a.menu {
    font-family: "Inconsolata", monospace
}

hr {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #c6c7c7;
}

ul, ol {
    margin: 1.2em 0;
    padding-left: 1.6em;
}

li {
    margin: 0.4em 0;
}
